 global
                maxconn 4096
                chroot /usr
                user haproxy
                group haproxy
                pidfile /run/haproxy.pid
                stats socket /run/haproxy.sock mode 600 level admin
                log             127.0.0.1 local2

                nbthread  8
                cpu-map 1/all 0-
                stats bind-process all

defaults
                log     global
                mode    tcp
                option  tcplog
                option  dontlognull
                option  redispatch
                retries 3
                maxconn 4096
                timeout connect     30000
                timeout client      50000
                timeout server 50000

#listen admin_stat
#        bind :::57590
#        mode http
#        stats refresh 30s
#        stats uri /admin?stats
#        stats realm Haproxy\ Statistics
#        stats auth admin:admin
#        stats enable
#        bind-process 4

frontend stats
   bind :::8404
   mode http
   option http-use-htx
   http-request use-service prometheus-exporter if { path /metrics }
   stats enable
   stats uri /stats
   stats refresh 10s
   bind-process all
   
frontend frontend-tcp
  mode tcp
  bind-process all
  {{ $servers := split (getenv "HOST_PORT") "," }}{{range $servers}}
  bind :::{{.}}
  {{end}}
  default_backend frontend-tcp
backend frontend-tcp
  mode tcp
  balance roundrobin
  {{ $servers := split (getenv "CP_HOSTS") "," }}{{range $servers}}
  server {{.}}-api {{.}}:BACKEND_PORT check
  {{end}}
