---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik
  namespace: ingress-system
---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: traefik
  namespace: ingress-system
  labels:
    k8s-app: traefik
spec:
  selector:
    matchLabels:
      k8s-app: traefik
  template:
    metadata:
      labels:
        k8s-app: traefik
        name: traefik
    spec:
      serviceAccountName: traefik
      terminationGracePeriodSeconds: 60
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet      
      containers:
      - image: traefik:v1.7.26
        name: traefik
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 80
          hostPort: 80
        - name: https
          containerPort: 443
          hostPort: 443
        - name: admin
          containerPort: 8080
        securityContext:
          capabilities:
            drop:
            - ALL
            add:
            - NET_BIND_SERVICE
        args:
        - --api
        - --web
        - --api.dashboard
        - --logLevel=INFO
        - --web.metrics
        - --metrics.prometheus
        - --web.metrics.prometheus
        - --kubernetes
        - --traefiklog
        - --accesslog
        - --accessLog.fields.headers.defaultMode=redact
        - --insecureskipverify=true
        - --defaultentrypoints=http,https
        - --entrypoints=Name:https Address::443 TLS forwardedHeaders
        - --entrypoints=Name:http Address::80 forwardedHeaders
        - --tracing.jaeger=true
        - --tracing.jaeger.samplingServerURL=http://jaeger-agent:5778/sampling
        - --tracing.jaeger.samplingType=const
        - --tracing.jaeger.samplingParam=1
        - --tracing.jaeger.localAgentHostPort=jaeger-agent:6831
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      
---
kind: Service
apiVersion: v1
metadata:
  labels:
    k8s-app: traefik
  name: traefik
  namespace: ingress-system
  annotations:
    prometheus.io/port: "8080"
    prometheus.io/scrape: "true"
spec:
  selector:
    k8s-app: traefik
  clusterIP: None
  ports:
    - protocol: TCP
      port: 80
      name: http
    - protocol: TCP
      port: 443
      name: https
    - protocol: TCP
      port: 8080
      name: admin
  type: ClusterIP
